@import 'variables';
@import 'mixin';

$btn-prefix-cls: '#{$angel-base}-btn';

.#{$btn-prefix-cls} {
  @include btn();
  @include btn-default($btn-default-color,$btn-default-bg,$btn-default-border);
  &.#{$btn-prefix-cls}-no-border {
    @include btn-border($transparent);
  }
  &.#{$btn-prefix-cls}-round{
    @include btn-round($btn-prefix-cls)
  }
  &.#{$btn-prefix-cls}-circle{
    @include btn-circle($btn-prefix-cls)
  }
  &.#{$btn-prefix-cls}-primary {
    background-color: $blue-6;
    color: $white;
    border-color: $blue-6;
  }
}
