@mixin button-size($btn-padding-y,$btn-padding-x,$btn-size, $btn-border-radius) {
	padding: $btn-padding-y $btn-padding-x ;
	font-size: $btn-size;
	border-radius: $btn-border-radius;
}

@mixin btn() {
	
}
