/**  button */
$btn-padding-y: 8px;
$btn-padding-x: 15px;
$btn-font-size: 14px;
$btn-border-radius: 2px;

$btn-padding-y-lg: 9px;
$btn-padding-x-lg: $btn-padding-x;
$btn-font-size-lg: 16px;
$btn-border-radius-lg: 4px;

$btn-padding-y-sm: 7px;
$btn-padding-x-sm: 12px;
$btn-font-size-sm: 12px;
$btn-border-radius-sm: 2px;