/** 灰色 */
$gray-0: #fff !default;
$gray-10: #f8f9fa !default;
$gray-20: #e9ecef !default;
$gray-30: #dee2e6 !default;
$gray-40: #ced4da !default;
$gray-50: #adb5bd !default;
$gray-60: #6c757d !default;
$gray-70: #495057 !default;
$gray-80: #343a40 !default;
$gray-90: #212529 !default;
$gray-90: #000 !default;

/** 蓝色 */
$blue-0: #f5f8ff !default;
$blue-10: #D8E6FF !default;
$blue-20: #C4DAFF !default;
$blue-30: #9DC2FF !default;
$blue-40: #76A9FF !default;
$blue-50: #4F91FF !default;
$blue-60: #2979FF !default;
$blue-70: #2264D1 !default;
$blue-80: #1B4EA3 !default;
$blue-90: #133774 !default;
$blue-100: #0C2146 !default;

/** 绿色 */


/** 主题色 */
$white: $gray-0 !default;
$black: $gray-100 !default;

