/**  button */
$btn-padding-y: 4px;
$btn-padding-x: 15px;
$btn-height: 32px;
$btn-size: 14px;
$btn-border-radius: 2px;

$btn-padding-y-lg: 6.4px;
$btn-padding-x-lg: $btn-padding-x;
$btn-height-lg: 40px;
$btn-size-lg: 16px;
$btn-border-radius-lg: 4px;

$btn-padding-y-sm: 0px;
$btn-padding-x-sm: 7px;
$btn-height-sm: 24px;
$btn-size-sm: 14px;
$btn-border-radius-sm: 2px;

