@import 'variables';
@import 'mixin';

$angel-prefix-cls: '#{$angel-base}-card';

.#{$angel-prefix-cls} {
  @include default-card();
  position: relative;
  background: $card-background;
  border-radius: $card-radius;
  &-border{
    border: 1px solid $card-border-color-base;
  }
  &-head{
    @include card-head();
    &-wrapper{
      @include card-head-wrapper();
    }
    &-title{
      @include card-head-title();
    }
    &-extra{
      @include card-head-extra();
    }
  }
}