// card 变量
$card-radius: 2px;
$card-background: $component-background;
$card-border-color-base: #f0f0f0;
$card-head-font-size: 16px;
$card-head-padding: 16px;
$card-head-extra-font-size: 14px;
$card-actions-color-base: rgba(0,0,0,0.75);